# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod
!/Makefile
!/README.md

!test/*.txt
!test/*.sh
!test/*.in
!test/*.check

# ...even if they are in subdirectories
!*/
